@page "/"
@using CarRental.Business.Classes
@inject BookingProcessor b


<PageTitle>Car Rental</PageTitle>

<h1 class="text-center">Car Rental</h1>

<div>
    <div class="heading-font">Vehicles</div>
    <table class="table border border-secondary">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost Km</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">$ Day</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in b.GetVehicles())
            {
                <tr>
                    <th scope="row">@vehicle.RegNo</th>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.DayCost(vehicle.VehicleType)</td>
                    <!--  Ska styla en knapp sen -->
                        <td>@vehicle.VehicleStatus</td>
                        
                </tr>
            }           
        </tbody>
    </table>
</div>

<div>
    <div class="heading-font">Bookings</div>
    <table class="table border border-secondary">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in b.GetBookings())
            {
                <tr>
                    <th scope="row">@booking.Vehicle.RegNo</th>
                    <td>@($"{booking.Person.FirstName} {booking.Person.LastName} ({booking.Person.CustomerId})")</td>
                    <td>@booking.InitialOdometer</td>
                    <td>@booking.ReturnOdometer</td>
                    <td>@booking.BookingDate.ToShortDateString()</td>
                    <td>@(booking.ReturnDate?.ToShortDateString() ?? "")</td>
                    <td>@booking.TotalCost</td>
                    <td>@booking.VehicleBookingStatus</td>
                </tr> 
            }
        </tbody>
    </table>
</div>

<div>
    <div class="heading-font">Customers</div>
    <table class="table border border-secondary">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var person in b.GetPersons())
            {
                <tr>
                    <th scope="row">@person.CustomerId</th>
                    <td>@person.LastName</td>
                    <td>@person.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


